[build]
  command = "cd frontend && npm run build"
  publish = "frontend/out"
  functions = "backend/netlify/functions"

[[redirects]]
  from = "/.netlify/functions/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
